body{
  background-image: url(images/bg-bottom.svg);
  background-color:  hsl(234, 14%, 74%);
}
.inner-container {
  background-image: url(images/bg-top.svg),url(images/bg-bottom.svg);
  background-color: rgb(244, 244, 255);
  background-repeat: no-repeat;
  background-position: top right, bottom left;
  background-size: 30%;
 
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3em;
}

.container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5em;
}

.sub-div2 {
  text-align: center;
  align-self: center;
  padding: 2.5em;
  border-radius: 0.5em;
  background-color: hsl(234, 95%, 83%);
  transition: 0.5s;
  cursor: pointer;
}

.sub-div1,
.sub-div3 {
  text-align: center;
  height: 22em;
  padding: 2em;
  padding-left: 1em;
  border-radius: 0.5em;
  background-color:hsl(240, 78%, 98%)
  ;
}

hr {
  width: 70%;
}

.price-button {
  color: hsl(228, 45%, 44%);
  background-color: unset;
  border: 0.1em solid;
  padding: 0.5em 4em;
  text-align: center;
  margin: 0.5em;
  cursor: pointer;
  font-size: medium;
  box-shadow: 0.1em 0.1em;
  border-radius: 0.4em;
}

.button2 {
  color: white;
  border: 0.1em solid;
  box-shadow: 0.1em 0.1em;
}

.switch {
  flex-grow: 1;
  display: flex;
  align-items: center;
  /* background-color: aqua; */
  /* border: 2px solid red; */
}

.toggle {
  appearance: none;
  width: 50px;
  height: 26px;
  background-color: hsl(228, 45%, 44%);
  border-radius: 13px;
  position: relative;
}

.toggle::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  background-color: white;
  transition: transform 0.2s;
}

.toggle:checked::before {
  transform: translateX(24px);
}